.App {
  background: #000;
  height: 100vh;
  text-align: center;
  display: grid;
  place-content: center;
}

main {
  
  aspect-ratio: 9/16;
  border-radius: 3px;
  overflow-y: scroll;
  max-width: 275px;
  width: 100vw;
  height: auto;
  display: block;
}